In [1]:
import numpy as np
import pandas as pd

In [2]:
a = pd.Series([10,20,30,40])
a

0    10
1    20
2    30
3    40
dtype: int64

#### Acessar  um valor

In [3]:
a[1]

20

#### Acessar mupltiplos valores

In [4]:
a[[0,1]]

0    10
1    20
dtype: int64

In [5]:
a[(0,1)]

KeyError: (0, 1)

In [11]:
a[0,1]

KeyError: (0, 1)

In [12]:
a[:2]

0    10
1    20
dtype: int64

In [13]:
a[2:]

2    30
3    40
dtype: int64

In [14]:
a[[-1]]

-1   NaN
dtype: float64

#### Indexação condicional(filtragem)

In [15]:
a[(a>=10) & (a<20)]

0    10
dtype: int64

#### Indexação booleana

In [17]:
b = a.isin([10,30])#
a[b]

0    10
2    30
dtype: int64

In [18]:
a[5] = 70
a

0    10
1    20
2    30
3    40
5    70
dtype: int64

In [19]:
del a[5]
a

0    10
1    20
2    30
3    40
dtype: int64

#### DataFrame

In [25]:
df = pd.DataFrame({'A':[1,2,3,4], 'B':[10,20,30,40]})
df['A'][0]

1

#### linha

In [33]:
df.loc[1]

A     2
B    20
Name: 1, dtype: int64

In [37]:
df.tail(1)

   A   B
3  4  40

In [64]:
s1 = pd.Series([1,2,3,4])
s2 = pd.Series([10,20,30,40,50])
s3 = pd.Series([2,4,6,8,20])

df = pd.concat([s1,s2], axis=1)
df.columns=['a','b']
df

     a   b
0  1.0  10
1  2.0  20
2  3.0  30
3  4.0  40
4  NaN  50

In [65]:
s1 = pd.Series([1,2,3,4])
s2 = pd.Series([10,20,30,40,50])
s3 = pd.Series([2,4,6,8,20])

df = pd.concat([s1,s2], axis=0)
df.columns=['a','b']
df

0     1
1     2
2     3
3     4
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [66]:
df1 = s3.to_frame()
df

0     1
1     2
2     3
3     4
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [73]:
df2 = pd.concat([df1,df])
df2

    0
0   2
1   4
2   6
3   8
4  20
0   1
1   2
2   3
3   4
0  10
1  20
2  30
3  40
4  50