### Nome: Wanderson Hermirio dos Santos
### Matricula: 201721210024

#### 1. Como importar pandas e verificar a versão?

In [1]:
import pandas as pd
pd.__version__

'0.19.2'

#### 2. Qual a diferença entre uma lista, um dicionário, um array numpy e uma series pandas?

##### Lista
na lista o operador *in* usa algoritmos diferentes para listas. Para listas, ele procura os elementos da lista em ordem.
##### Dicionario
Para dicionários, o Python usa um algoritmo chamado hashtable (tabela de dispersão), que tem uma propriedade notável: o operador in leva praticamente o mesmo tempo na busca, não importa quantos itens estejam no dicionário

##### Serie
Um serie e um array de uma dimensão, ou pode consederar tambem um coluno da tabela.

##### Array

#### 3. Crie uma série de pandas de cada um dos itens abaixo: uma lista, numpy e um dicionário

In [2]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [3]:
mylistSerie = pd.Series(mylist)
myarrSerie = pd.Series(myarr)
mydictSerie = pd.Series(mydict)

In [4]:
mylistSerie

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [5]:
myarrSerie

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32

In [6]:
mydictSerie

a     0
b     1
c     2
d     4
e     3
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

#### Como mudar os valores de uma série após ela ser criada?

In [7]:
mydictSerie.a = 123
mydictSerie

a    123
b      1
c      2
d      4
e      3
f      5
g      6
h      7
i      8
j      9
k     10
l     11
m     12
n     13
o     14
p     15
q     16
r     17
s     18
t     19
u     20
v     21
w     22
x     23
y     24
z     25
dtype: int64

#### 5 Combine ser1 e ser2 para formar um dataframe.

In [8]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [9]:
df = pd.DataFrame(ser1,ser2)
df

    0
0   a
1   b
2   c
3   e
4   d
5   f
6   g
7   h
8   i
9   j
10  k
11  l
12  m
13  n
14  o
15  p
16  q
17  r
18  s
19  t
20  u
21  v
22  w
23  x
24  y
25  z

#### 6. Como atribuir nome ao índice da série? Dê um nome para a série que está chamando de ’alfabeto’.

In [10]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.rename('alfabeto')

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: alfabeto, dtype: object

#### 7. Como obter os itens da série A não presentes na série B?

In [58]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser3 = ser1.loc[~ser1.isin(ser2)]
ser3

0    1
1    2
2    3
dtype: int64

####